*{
    margin:0px;
    padding:0px;
}
.home
{
    text-align: center;
    background-color:black;
    padding: 11px;
    color: rgb(218, 182, 182);
    image-rendering:left;
    object-position: left;
    font-weight: bolder;  
}
.background
{
    padding: 17%;
    background-color: black;
    background-image: url(https://img.jakpost.net/c/2016/09/29/2016_09_29_12990_1475116504._large.jpg );
}
.text
{
    color: black;
    background-color: rgb(170, 88, 158);
    font-size: 18px;
    font-family:cursive;
    font-weight:bolder;
    text-align: left;
    border-color: rgb(3, 2, 0);
    border-radius: 1cm;
    cursor: pointer;
    text-decoration: underline;  
    
 }